@page
@model IndexModel
@{
    ViewData["Title"] = "Libraries";
}

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>My Libraries</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Actions</h3></div>
            <div class="panel-body">
                <a asp-page="Create">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Create a library
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Libraries</h3></div>
            <div class="panel-body">
                @if (!Model.Libraries.Any())
                {
                    <p>You are not a member of any libraries!</p>
                }

                @foreach (var library in Model.Libraries)
                {
                    <div class="media">
                        <div class="media-left">
                            <a asp-page="/Library" asp-route-id="@library.Id">
                                <img height="64" width="64" class="media-object"
                                     src="http://identicon.rmhdev.net/@(Uri.EscapeDataString(library.Title)).png" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <a asp-page="/Library" asp-route-id="@library.Id">@library.Title</a>
                            </h4>
                            @library.Description
                            <form method="post">
                                <input type="hidden" name="LibraryId" value="@library.Id" />
                                <button class="btn btn-link btn-xs" type="submit" asp-page-handler="DeleteLibrary">Remove</button>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
