@page "{id:int}"
@using Models
@model LibraryModel
@{
    ViewData["Title"] = @Model.Library.Title;
    ViewData["Description"] = "Description";
}

@*TODO: Fix this hacky af solution*@
<style>
    .thumbnail {
        min-height: 300px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            @if (Model.Member.Role.Privileges.Contains(Privilege.CanEditLibrary))
            {
                <a asp-page="Libraries/Edit"><span class="glyphicon glyphicon-edit pull-right" aria-hidden="true"></span></a>
            }
            <h1>@Model.Library.Title</h1>
            <a asp-page="/Libraries/Index">Back to libraries</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Members
                    @if (Model.Member.Role.Privileges.Contains(Privilege.CanManageMembersAndRoles))
                    {
                        <a asp-page="/Roles/Index" asp-route-libraryId="@Model.Library.Id">
                            <span class="glyphicon glyphicon-edit pull-right" aria-hidden="true"></span>
                        </a>
                    }                    
                    <a asp-page="/Invitations/Index" asp-route-libraryId="@Model.Library.Id">
                        <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    @foreach (var member in Model.Members)
                    {
                        <a asp-page="/Profile" asp-route-id="@member.UserId" class="list-group-item">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            @if (member.IsCreator)
                            {
                                <span class="badge">creator</span>
                            }

                            @(string.IsNullOrWhiteSpace(member.DisplayName) ? member.FullName : member.DisplayName)
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Display Name</h3>
            </div>
            <div class="panel-body">
                <form method="POST" class="form-inline">
                    <div class="form-horizontal">
                        <span asp-validation-for="NewDisplayName" class="text-danger"></span>
                        <label class="sr-only" asp-for="NewDisplayName"></label>
                        <input class="form-control" type="text" asp-for="NewDisplayName" placeholder="" />
                        <input type="hidden" asp-for="MembershipId" value="@Model.Member.Id" />
                        <button type="submit" class="btn btn-default" asp-page-handler="DisplayName">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        @* <div class="alert alert-warning alert-dismissible" role="alert"> *@
        @*     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> *@
        @*     <strong>Warning!</strong> Better check yourself, you're not looking too good. *@
        @* </div> *@
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Description
                    @*<a href="#"><span class="glyphicon glyphicon-edit pull-right" aria-hidden="true"></span></a>*@
                </h3>
            </div>
            <div class="panel-body">
                <p>@Model.Library.Description</p>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Videos
                    @if (Model.Member.Role.Privileges.Contains(Privilege.CanSubmitVideo))
                    {
                        <a asp-page="/Videos/CreateVideo" asp-route-libraryId="@Model.Library.Id">
                            <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
                        </a>
                    }
                </h3>
            </div>
            <div class="panel-body">
                <div style="width: 30%; margin-bottom: 5px;">
                    <select id="sort-videos" class="form-control">
                        <option value="" disabled selected>Sort By</option>
                        <option value="titleDesc">Title (A to Z)</option>
                        <option value="titleAsc">Title (Z to A)</option>
                        <option value="dateAddedDesc">Date Added (Newest to Oldest)</option>
                        <option value="dateAddedAsc">Date Added (Oldest to Newest)</option>
                    </select>
                </div>
                <div id="videos-wrapper" class="row">
                    @if (!Model.Videos.Any())
                    {
                        <div class="col-md-12">
                            <p>This library has no videos!</p>
                        </div>
                    }
                    @foreach (var video in Model.Videos)
                    {
                        <div class="col-md-4 video-wrapper" data-title="@video.Title" data-id="@video.Id">
                            <a class="thumbnail" asp-page="/Videos/Index" asp-route-id="@video.Id">
                                <img class="media-object"
                                     src="http://identicon.rmhdev.net/@(Uri.EscapeDataString(video.Title)).png" alt="">
                                <div class="caption">
                                    <h4>
                                        @video.Title
                                    </h4>
                                </div>
                            </a>
                            @if (Model.Member.Role.Privileges.Contains(Privilege.CanRemoveAnyVideo))
                            {
                            <form method="post">
                                <input type="hidden" name="VideoId" value="@video.Id" />
                                <input type="hidden" name="LibraryId" value="@Model.Library.Id" />
                                <button class="btn btn-link btn-xs" type="submit" asp-page-handler="DeleteVideo">Remove</button>
                            </form>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@* TODO - Remove this and use the jQuery in lib/jquery/dist *@
<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>

<script>
    var state = {
        videoElements: null
    }

    state.videoElements = document.getElementsByClassName('video-wrapper');
    
    
    
    document.getElementById('sort-videos').addEventListener('change', function(e) {
        var $wrapper = $('#videos-wrapper');
        
        if (e.target.value === 'titleDesc') {
            $wrapper.find('.video-wrapper').sort(function(a, b) {
                var nameA = a.dataset.title.toUpperCase(); // ignore upper and lowercase
                var nameB = b.dataset.title.toUpperCase(); // ignore upper and lowercase
                if (nameA < nameB) {
                    return -1;
                }
                if (nameA > nameB) {
                    return 1;
                }

                // names must be equal
                return 0;
            }).appendTo($wrapper);
        } else if (e.target.value === 'titleAsc') {
            $wrapper.find('.video-wrapper').sort(function(a, b) {
                var nameA = a.dataset.title.toUpperCase(); // ignore upper and lowercase
                var nameB = b.dataset.title.toUpperCase(); // ignore upper and lowercase
                if (nameA < nameB) {
                    return 1;
                }
                if (nameA > nameB) {
                    return -1;
                }

                // names must be equal
                return 0;
            }).appendTo($wrapper);
        } else if (e.target.value === 'dateAddedDesc') {
            $wrapper.find('.video-wrapper').sort(function(a, b) {
                return b.dataset.id - a.dataset.id;
            }).appendTo($wrapper);
        } else if (e.target.value === 'dateAddedAsc') {
            $wrapper.find('.video-wrapper').sort(function(a, b) {
                return a.dataset.id - b.dataset.id;
            }).appendTo($wrapper);
        }
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}