@page "{id:int}"
@model LibraryModel
@{
    ViewData["Title"] = @Model.Library.Title;
    ViewData["Description"] = "Description";
}

@*TODO: Fix this hacky af solution*@
<style>
    .thumbnail {
        min-height: 300px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>@Model.Library.Title <small>subtitle</small></h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Members
                    <a href="#"><span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span></a>
                </h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    @foreach (var member in Model.Members)
                    {
                        <a href="#" class="list-group-item">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            @if (member.IsCreator)
                            {
                                <span class="badge">creator</span>
                            }
                            @member.DisplayName
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Display Name</h3>
            </div>
            <div class="panel-body">
                <form method="POST" class="form-inline">
                    <div class="form-horizontal">
                        <span asp-validation-for="NewDisplayName" class="text-danger"></span>
                        <label class="sr-only" asp-for="NewDisplayName"></label>
                        <input class="form-control" type="text" asp-for="NewDisplayName" placeholder="" />
                        <input type="hidden" asp-for="MembershipId" value="@Model.Membership.Id" />
                        <button type="submit" class="btn btn-default" asp-page-handler="DisplayName">Update</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Create Video</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <a class="btn btn-default" asp-page="/Videos/CreateVideo" asp-route-id="@Model.Library.Id">Add Video</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> Better check yourself, you're not looking too good.
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Description
                    <a href="#"><span class="glyphicon glyphicon-edit pull-right" aria-hidden="true"></span></a>
                </h3>
            </div>
            <div class="panel-body">
                <p>@Model.Library.Description</p>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Videos</h3></div>
            <div class="panel-body">
                <div class="row">
                    @if (!Model.Videos.Any())
                    {
                        <div class="col-md-12">
                            <p>This library has no videos!</p>
                        </div>
                    }
                    @foreach (var video in Model.Videos)
                    {
                        <div class="col-md-4">
                            <a class="thumbnail" href="#">
                                <img class="media-object"
                                     src="http://identicon.rmhdev.net/@(Uri.EscapeDataString(video.Title)).png" alt="">
                                <div class="caption">
                                    <h4>
                                        @video.Title
                                    </h4>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}