@page "{id:int?}"
@model ToBeRenamed.Pages.ProfileModel

@{
    ViewData["Title"] = "Profile";

    var claimProperties = new List<string>()
{
"Name ID",
"Full Name",
"First",
"Last",
"Email"
};

    int i = 0;
}

@{
    ViewData["Title"] = "Profile";
}

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Profile</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Profile Information
                </h3>
            </div>
            <div class="panel-body">
                <div><b>Display Name:</b> @Model.UserDto.DisplayName</div>
                <div><b>User ID:</b> @Model.UserDto.Id</div>
                <div><b>Account Created:</b> @Model.UserDto.CreatedAt</div>
            </div>
        </div>
    </div>
</div>

@*@if (User?.Identity?.IsAuthenticated ?? false)
    {
        <p>
            @foreach (var claim in User.Claims)
            {
                <div>@claimProperties[i]: <b>@claim.Value</b></div>
                i++;
            }
        </p>
    }*@
