@page "{id:int}"
@model IndexModel
@{
    ViewData["Title"] = Model.Video.Title;
}
@Html.AntiForgeryToken()
<input class="video-id" type="hidden" value="@Model.Video.Id"/>
<input id="video-url" type="hidden" value="@Model.Video.Url"/>

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h1>@Model.Video.Title</h1>
            <h4>@Model.Video.Description</h4>
            <br>
            @* 1. The <iframe> (and video player) will replace this <div> tag.  *@
            <div id="player">

            </div>
        </div>
        <div class="annotations col-md-5">
            <div class="annotations-header">
                <span id="annotations-header-text">Annotations</span>
                <button type="button" class="btn btn-primary" id="create-annotation-btn" style="float: right">Create</button>
            </div>
            <div class="create-annotation-container hidden">
                <div class="panel panel-default annotation-wrapper">
                    <div class="panel panel-heading annotation-header">
                        <span class="annotation-options glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                        <span class="annotation-author-time block">
                            @* TODO - Use membership display name instead of user display name *@
                            @User.Identity.Name @@ <span class="timestamp"></span>
                        </span>
                    </div>
                    <div class="panel-body annotation-body">
                        <div class="annotation-text-wrapper row">
                            <textarea></textarea>
                            <button type="button" class="submit-annotation btn btn-success btn-sm">Submit</button>
                            <button type="button" class="cancel-annotation btn btn-secondary btn-sm">Cancel</button>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div id="annotations-body">
                @if (!Model.Annotations.Any())
                {
                    <div id="no-annotation-text" class="text-center">
                        <p>No annotations to show</p>
                    </div>
                }

                @foreach (var annotation in Model.Annotations)
                {
                    <partial name="_Annotation" model="@annotation"/>
                }
            </div>
        </div>
    </div>
</div>

@* TODO - Remove this and use the jQuery in lib/jquery/dist *@
<script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>

<link rel="stylesheet" href="~/css/video.css" />
<script type="text/javascript" src="/js/Videos/View/base.js"></script>
<script type="text/javascript" src="/js/Videos/View/VideoView.js"></script>
<script type="text/javascript" src="/js/Videos/Model/VideoModel.js"></script>
<script type="text/javascript" src="/js/Videos/Controller/VideoController.js"></script>
